{% if request.user.is_authenticated %}
  <div class="sidebar border border-right">
    <div class="offcanvas-xl offcanvas-end bg-body-tertiary h-100" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
              <svg class="bi">
                <use xlink:href="#house-fill" />
              </svg>ダッシュボード
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>受発注システムDemo</span>
        </h6>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'product_mst:list' %}">
              <svg class="bi">
                <use xlink:href="#file-earmark-text" />
              </svg>商品マスタ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'partner_mst:partner_list' %}">
              <svg class="bi">
                <use xlink:href="#file-earmark-text" />
              </svg>取引先マスタ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'sales_order:list' %}">
              <svg class="bi">
                <use xlink:href="#file-earmark-text" />
              </svg>受注管理
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>管理者メニュー</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <svg class="bi">
              <use xlink:href="#plus-circle" />
            </svg>
          </a>
        </h6>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'register:register_user_index' %}">
              <svg class="bi">
                <use xlink:href="#people" />
              </svg>ユーザーマスタ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'login:access_log' %}">
              <svg class="bi">
                <use xlink:href="#file-earmark-text" />
              </svg>ログイン履歴
            </a>
          </li>
        </ul>

        <hr class="my-3" />

        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'register:register_user_change_password' %}">
              <svg class="bi">
                <use xlink:href="#file-earmark-text" />
              </svg>パスワード再設定
            </a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="POST" name="logout_form">
              {% csrf_token %}
              <a class="nav-link d-flex align-items-center gap-2" href="javascript:logout_form.submit()">
                <svg class="bi">
                  <use xlink:href="#door-closed" />
                </svg>ログアウト
              </a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endif %}