{# 件数表示 #}
<p class="mt-2">
    {{ paginator.count }}件中　{{ page_obj.start_index }}件 - {{ page_obj.end_index }}件
</p>
{% if is_paginated %}
{# ページング #}
<nav aria-label="Topics pagination">
    <ul class="pagination">
        {# Previous #}
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{{ query_str }}&amp;page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}
        {# ELLIPS #}
        {% for i in paginator_range %}
            {% if page_obj.number == i %}
            <li class="active page-item">
                <span class="page-link">{{ i }}</span>
            </li>
            {% else %}
                {% if i == paginator.ELLIPSIS %}
                <li class="page-item">
                    <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{{ query_str }}&amp;page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {# Next #}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{{ query_str }}&amp;page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}