{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}
{% block content %}
<body class="d-flex justify-content-center">
  <div style="width: 360px;">
    {# ログインフォーム #}
    <form class="text-center" method="post">
      {% csrf_token %}
      {# ロゴ #}
      <img class="mb-4" src="{% static 'images/bootstrap-logo.svg' %}" alt="" width="72" height="57" loading="lazy">
      {# タイトル #}
      <h1 class="h3 mb-3 fw-normal">ログイン</h1>

      {# メールアドレス #}
      <div class="form-group mb-3">
        <input class="form-control" type="email" placeholder="Email"
          name="{{ form.username.html_name }}" autofocus autocomplete="email"
          required id="{{ form.username.id_for_label }}">
        {{ form.username.errors }}
      </div>

      {# パスワード #}
      <div class="form-group mb-3">
        <input class="form-control" type="password" placeholder="Password"
          name="{{ form.password.html_name }}" autocomplete="current-password"
          required id="{{ form.password.id_for_label }}">
        {{ form.password.errors }}
      </div>

      {# エラーメッセージ #}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          <p>{{ error }}</p>
        </div>
      {% endfor %}

      {# 状態を記憶する #}
      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          状態を記憶する
        </label>
      </div>

      {# サインインボタン #}
      <button class="btn btn-primary w-100 py-2" type="submit">サインイン</button>

      {# パスワードリセット #}
      <div class="form-check text-start my-3">
        <a href="{% url 'login:password_reset' %}">パスワードをお忘れですか？</a>
      </div>
    </form>
  </div>
</body>
{% endblock %}
