{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}
{% block content %}
<body class="d-flex justify-content-center">
  <div class="bg-white rounded-3 border p-3" style="max-width: 560px;">
    <form action="" method="POST">
      {{ form.non_field_errors }}
      <h2>パスワードの再設定</h2>
      <hr>
      <p>新しいパスワードを設定して送信ボタンを押してください。</p>

      {# パスワードルールの説明ブロックを追加 #}
      <div class="alert alert-info small" role="alert">
        <strong>パスワード設定ルール</strong><br>
        ・8文字以上で設定してください。<br>
        ・英大文字・英小文字・数字をそれぞれ1文字以上含めてください。<br>
		・記号（@, #, $, %, ! など）を含めると安全性が高まります。<br>
      </div>

      {% for field in form %}
      <div class="form-group">
        <input type="{{ field.field.widget.input_type }}"
               class="form-control mb-3"
               name="{{ field.name }}"
               autocomplete="new-password"
               id="{{ field.id_for_label }}"
               placeholder="{{ field.label }}">
      </div>
      {% endfor %}
      {% csrf_token %}
      <hr>
      <div class="form-group row">
        <div class="text-end">
          <button type="submit" class="btn btn-primary btn-block">送信</button>
        </div>
      </div>
    </form>
  </div>
</body>
{% endblock %}
