{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}
{% block content %}
<body class="d-flex justify-content-center">
	<div class="bg-white rounded-3 border p-3">
		<form action="" method="POST">
			{{ form.non_field_errors }}
			<h2>パスワードリセット</h2>
			<hr>
			<p>メールアドレスを入力して送信ボタンを押してください。</p>
			{% for field in form %}
			<div class="form-group mb-3">
				<input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" autocomplete="email" maxlength="254" required="" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
			</div>
			{% endfor %}
			{% csrf_token %}
			<div>メールアドレスはあらかじめシステムに登録が必要です。</div>
			<div>メールが届かない場合はシステム管理者に連絡してください。</div>
			<br/>
			<hr>
			<div class="form-group row">
				<div class="text-end">
					<a class="btn btn-secondary btn-block" href="/login/">キャンセル</a>
					<button type="submit" class="btn btn-primary btn-block">送信</button>
				</div>
			</div>
		</form>
	</div>
</body>
{% endblock %}