{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}
{% block content %}
<body class="d-flex justify-content-center">
	<div class="bg-white rounded-3 border p-3">
        <form action="" method="POST">
			<h2>パスワード再設定の完了</h2>
			<hr>
            <p>パスワードの再設定を完了しました。<p>
            <p>再ログインしてください。<p>
            <hr>
            <div class="form-group row">
                <div class="text-end">
                    <a class="btn btn-primary" href="/login/">ログイン画面へ</a>
                </div>
            </div>
        </form>
	</div>
</body>
{% endblock %}