<div class="modal fade" id="create-Modal" tabindex="-1" aria-labelledby="user_create_modal" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="create_form" method="post" action="{% url 'register:create' %}">
        {% csrf_token %}

        {# ヘッダー #}
        <div class="modal-header">
          <h5 class="modal-title" id="user_create_modal">ユーザー情報の登録</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        {# コンテンツ #}
        <div class="modal-body">
          {% load django_bootstrap5 %}
          {% bootstrap_form form %}
        </div>

        {# フッター #}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </form>
    </div>
  </div>
</div>
