<div class="modal fade" id="create-Modal" tabindex="-1" aria-labelledby="user_create_modal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="create_form" method='post' action="{% url 'register:register_user_create' %}">
                {% csrf_token %}
                {# ヘッダー #}
                <div class="modal-header">
                    <h5 class="modal-title" id="user_create_modal">ユーザー情報の登録</h5>
                </div>
                {# コンテンツ #}
                <div class="modal-body row">
                    {# ユーザーコード #}
                    <div class="col-md-12 mb-2">
                        <label for="username" class="form-label">{{ form.username.label }}</label>
                        <span class="badge text-bg-danger">必須</span>
                        {{ form.username }}
                        <div id="username_help" class="form-text">半角英数字、記号</div>
                    </div>
                    {# 姓 #}
                    <div class="col-md-6 mb-2">
                        <label for="last_name" class="form-label">{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                    </div>
                    {# 名 #}
                    <div class="col-md-6 mb-2">
                        <label for="first_name" class="form-label">{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                    </div>
                    {# 性別 #}
                    <div class="col-md-3 mb-2">
                        <label for="gender" class="form-label">{{ form.gender.label }}</label>
                        {{ form.gender }}
                    </div>
                    <div class="col-md-9"></div>
                    {# E-Mail #}
                    <div class="col-md-12 mb-2">
                        <label for="email" class="form-label">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    {# 誕生日 #}
                    <div class="col-md-12 mb-2">
                        <label for="birthday" class="form-label">{{ form.birthday.label }}</label>
                        {{ form.birthday }}
                    </div>
                    {# 電話番号 #}
                    <div class="col-md-12 mb-2">
                        <label for="tel_number" class="form-label">{{ form.tel_number.label }}</label>
                        {{ form.tel_number }}
                    </div>
                    {# 郵便番号 #}
                    <div class="col-md-3 mb-2">
                        <label for="postal_cd" class="form-label">{{ form.postal_cd.label }}</label>
                        {{ form.postal_cd }}
                    </div>
                    <div class="col-md-9"></div>
                    {# 都道府県 #}
                    <div class="col-md-3 mb-2">
                        <label for="state" class="form-label">{{ form.state.label }}</label>
                        {{ form.state }}
                    </div>
                    {# 市町村 #}
                    <div class="col-md-6 mb-2">
                        <label for="city" class="form-label">{{ form.city.label }}</label>
                        {{ form.city }}
                    </div>
                    <div class="col-md-3"></div>
                    {# 住所 #}
                    <div class="col-md-12 mb-2">
                        <label for="address" class="form-label">{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                    {# 住所2 #}
                    <div class="col-md-12 mb-2">
                        <label for="address2" class="form-label">{{ form.address2.label }}</label>
                        {{ form.address2 }}
                    </div>
                    {# 権限 #}
                    <div class="col-md-3 mb-2">
                        <label for="privilege" class="form-label">{{ form.privilege.label }}</label>
                        {{ form.privilege }}
                    </div>
                    <div class="col-md-9"></div>
                    {# パスワード #}
                    <div class="col-md-12 mb-2">
                        <label for="password1" class="form-label">{{ form.password1.label }}</label>
                        {{ form.password1 }}
                    </div>
                    {# パスワード（確認用） #}
                    <div class="col-md-12 mb-2">
                        <label for="password2" class="form-label">{{ form.password2.label }}</label>
                        {{ form.password2 }}
                    </div>
                </div>
                {# フッター #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary">登録</button>
                </div>
            </form>
        </div>
    </div>
</div>