{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% block content %}
{# ページタイトル #}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">ユーザー管理画面</h1>
</div>
{# 検索 & 登録画面リンク #}
<form method="get" action="{% url 'register:register_user_index' %}">
    {# 検索フォーム #}
    <div class="row mb-3">
        <div class="col col-md-2">
            <label for="search_key" class="form-label">キーワード</label>
            <input type="text" name="search_key" class="form-control" value="{{ search_key }}" placeholder="ユーザーコードまたは氏名">
        </div>
        <div class="col col-md-1">
            <label for="search_gender" class="form-label">性別</label>
            <select class="form-control" name="search_gender">
                {% for key, val in gender_list %}
                    {% if key == search_gender %}
                    <option value="{{ key }}" label="{{ val }}" selected></option>
                    {% else %}
                    <option value="{{ key }}" label="{{ val }}"></option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col d-flex align-items-end">
            <input type="submit" class="btn btn-primary" value="検索">
        </div>
        {# 登録画面リンク #}
        {% if user.privilege <= "1" %}
        <div class="col d-flex align-items-end justify-content-end">
            <a class="btn btn-outline-primary" href="{% url 'register:register_user_create' %}" data-bs-toggle="modal" data-bs-target="#create-Modal">+ 新規登録</a>
        </div>
        {% endif %}
    </div>
</form>
{# 登録時のモーダル #}
{% include 'register/create.html' %}
{# 件数表示 #}
<p class="mt-2">
    {{ paginator.count }}件中　{{ page_obj.start_index }}件 - {{ page_obj.end_index }}件
</p>
{# 検索結果表示 #} 
<div class="result-table overflow-auto">
    <table class="table table-hover table-striped table-responsive">
        <thead class="table-dark sticky-top">
            <th>ユーザーコード</th>
            <th>氏名</th>
            <th>E-Mail</th>
            <th>性別</th>
            <th>誕生日</th>
            <th>電話番号</th>
            <th>郵便番号</th>
            <th>都道府県</th>
            <th>市区町村</th>
            <th>住所</th>
            <th>住所2</th>
            <th>権限</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for data in users %}
            <tr class="align-middle">
                <td>{{ data.username }}</td>
                <td>{{ data.last_name|default_if_none:'' }}&nbsp;{{ data.first_name|default_if_none:'' }}</td>
                <td>{{ data.email|default_if_none:'' }}</td>
                <td>{{ data.get_gender_display|default_if_none:'' }}</td>
                <td>{{ data.birthday|default_if_none:''|date:'Y/m/d' }}</td>
                <td>{{ data.tel_number|default_if_none:'' }}</td>
                <td>{{ data.postal_cd|default_if_none:'' }}</td>
                <td>{{ data.state|default_if_none:'' }}</td>
                <td>{{ data.city|default_if_none:'' }}</td>
                <td>{{ data.address|default_if_none:'' }}</td>
                <td>{{ data.address2|default_if_none:'' }}</td>
                <td>{{ data.get_privilege_display }}</td>
                {% if user.privilege == "1" and user.username == data.username or user.privilege == "0" %}
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'register:register_user_update' data.id %}" data-bs-toggle="modal" data-bs-target="#update-Modal-{{ data.pk }}">編集</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="" data-bs-toggle="modal" data-bs-target="#delete-Modal-{{ data.pk }}">削除</a>
                </td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
                {# 更新時のモーダル #}
                {% include 'register/edit.html' %}
                {# 削除時のモーダル #}
                {% include 'register/delete.html' %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{# ページネーション #}
{% include 'layout/pagination.html' %}
<script type="text/javascript" src="{% static 'js/register/script.js' %}"></script>
{% endblock %}