{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
{# ページタイトル #}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">パスワード変更</h1>
</div>
<form action="" method="POST" class="col-md-4">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group mt-3">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mt-3">送信</button>
</form>
<script type="text/javascript" src="{% static 'js/register/script.js' %}"></script>
{% endblock %}