{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% block content %}
<form id="update_form" method="post" action="{% url 'tenant_mst:edit' %}">
    {# ページタイトル #}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 mb-0"><i class="bi bi-building-gear me-4"></i>テナント情報編集</h1>
    </div>
    <p class="text-muted mb-4">
        会社情報を入力し、「保存」ボタンを押してください。<br>
        保存された会社情報は、見積書や発注書の発行元情報に表示されます。
    </p>
    {# 編集フォーム #}
    <div class="col-md-4">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical" %}
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
{% endblock %}