{% load django_bootstrap5 %}
{% load static %}
<div class="modal fade" id="update-Modal-{{ item.pk }}" tabindex="-1" aria-labelledby="item_update_modal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="update_form_{{ item.pk }}" method='post' action="{% url 'demo_app:item_mst_update' item.pk %}">
                {% csrf_token %}
                {# ヘッダー #}
                <div class="modal-header">
                    <h5 class="modal-title" id="item_update_modal">データの編集</h5>
                </div>
                {# コンテンツ #}
                <div class="modal-body">
                    {# アイテムコード #}
                    <div class="col-md-12">
                        <label for="item_cd" class="form-label">{{ form.item_cd.label }}</label>
                        <span class="badge text-bg-danger">必須</span>
                        <input type="text" class="form-control" name="item_cd" value="{{ item.item_cd }}">
                        <div id="item_cd_help" class="form-text">半角英数字、記号</div>
                    </div>
                    {# アイテム名称 #}
                    <div class="col-md-12">
                        <label for="item_nm" class="form-label">{{ form.item_nm.label }}</label>
                        <span class="badge text-bg-danger">必須</span>
                        <input type="text" class="form-control" name="item_nm" value="{{ item.item_nm }}">
                    </div>
                    {# カテゴリ #}
                    <div class="col-md-12">
                        <label for="category" class="form-label">{{ form.category.label }}</label>
                        <select class="form-control" name="category">
                            {% if rec.id == None %}
                            <option value="" label= selected></option>
                            {% else %}
                            <option value="" label=></option>
                            {% endif %}
                            {% for rec in category_list %}
                                {% if rec.id == item.category.id %}
                                <option value="{{ rec.id }}" label="{{ rec.category }}" selected>{{ rec.category }}</option>
                                {% else %}
                                <option value="{{ rec.id }}" label="{{ rec.category }}">{{ rec.category }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {# 説明 #}
                    <div class="col-md-12">
                        <label for="description" class="form-label">{{ form.description.label }}</label>
                        <input type="text" class="form-control" name="description" value="{{ item.description }}">
                    </div>
                    {# 価格 #}
                    <div class="col-md-12">
                        <label for="price" class="form-label">{{ form.price.label }}</label>
                        <input type="text" class="form-control" name="price" value="{{ item.price|default_if_none:'' }}">
                        <div id="price_help" class="form-text">半角数字</div>
                    </div>
                    {# PK(hidden) #}
                    <input type="hidden" name ="pk" value="{{ item.pk }}">
                </div>
                {# フッター #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </form>
        </div>
    </div>
</div>