{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% block content %}
{# ページタイトル & 操作用ボタン #}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">取引先マスタ管理画面</h1>

  {# インポート/エクスポート用のボタンエリア #}
  <div class="d-flex gap-2">
    <input type="file" id="file-input" name="file" accept=".csv" class="d-none">
    <button type="button" id="import-btn" class="btn btn-outline-secondary"
            data-action="{% url 'partner_mst:import_csv' %}">
      IMPORT
    </button>
    <button type="button" class="btn btn-outline-secondary export-btn"
            data-action="{% url 'partner_mst:export_csv' %}">
      CSV
    </button>
    <button type="button" class="btn btn-outline-secondary export-btn"
            data-action="{% url 'partner_mst:export_excel' %}">
      Excel
    </button>
  </div>
</div>

{# メッセージ #}
{% include 'layout/message.html' %}

{# 検索フォーム #}
<form id="search_form" method="get" action="{% url 'partner_mst:partner_list' %}">
  {% csrf_token %}
  <div class="row mb-3 align-items-center">

    {# 検索キーワード #}
    <div class="col col-md-3">
      <label for="search" class="form-label visually-hidden">キーワード</label>
      <input id="search" type="text" name="search" class="form-control"
             value="{{ search }}" placeholder="取引先コード / 名称 / 担当者 / メール">
    </div>

    {# 検索ボタン #}
    <div class="col">
      <button type="submit" class="btn btn-primary search_form_btn"
              data-action="{% url 'partner_mst:partner_list' %}">
        検索
      </button>
    </div>

    {# 登録画面リンク #}
    {% if user.privilege <= PRIVILEGE_EDITOR %}
    <div class="col d-flex justify-content-end">
      <a class="btn btn-outline-primary"
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#partnerModal"
        data-url="{% url 'partner_mst:partner_create_modal' %}">
        + 新規登録
      </a>
    </div>
    {% endif %}
  </div>
</form>

{# 件数表示 #}
<p class="mt-2">
  {{ paginator.count }}件中 {{ page_obj.start_index }}件 - {{ page_obj.end_index }}件
</p>

{# 検索結果表示 #}
<div class="result-table overflow-auto table-responsive">
  <table class="table table-hover table-striped text-nowrap">
    <thead class="table-dark sticky-top">
      <tr>
        <th scope="col">取引先名称</th>
        <th scope="col">担当者名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">電話番号</th>
        <th scope="col">住所</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for partner in partners %}
      <tr class="align-middle">
        <td>{{ partner.partner_name|default_if_none:'' }}</td>
        <td>{{ partner.contact_name|default_if_none:'' }}</td>
        <td>{{ partner.email|default_if_none:'' }}</td>
        <td>{{ partner.tel_number|default_if_none:'' }}</td>
        <td>
          〒{{ partner.postal_cd }}<br>
          {{ partner.state }} {{ partner.city }} {{ partner.address }} {{ partner.address2 }}
        </td>
        <td>
          {% if user.privilege <= PRIVILEGE_EDITOR %}
          <a href="#"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#partnerModal"
            data-url="{% url 'partner_mst:partner_update_modal' partner.id %}">
            編集
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- モーダル -->
  <div class="modal fade" id="partnerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Ajaxでここにフォームをロード -->
        </div>
      </div>
    </div>
  </div>
</div>

{# ページネーション #}
{% include 'layout/pagination.html' %}

<script type="text/javascript" src="{% static 'js/partner_mst/script.js' %}"></script>
{% endblock %}
